@import "tailwindcss";

/* Custom Global Styles */
body {
  background-color: #09090b;
  color: #e4e4e7;
  font-family: 'Inter', sans-serif;
  overflow: hidden;
}

:root {
  --scrollbar-track: #18181b;
  --scrollbar-thumb: #3f3f46;
  --scrollbar-thumb-hover: #52525b;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: var(--scrollbar-track);
}

::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--scrollbar-thumb-hover);
}